
<section>
    <nav class="navbar navbar-default ">
        <div id="navbar" class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="/" ><img height="70px" width="140px" th:src="@{/css/logo.png}" /></a> -->
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/" th:text="#{menu.inicio}"></a></li>
                    <li><a href="/trabalho" th:text="#{menu.buscar_trabalho}"></a></li>
                </ul>
                <ul class="nav nav-pills pull-right">
                    <li sec:authorize="! isAuthenticated()" role="presentation"><a th:href="@{/login}" th:text="#{menu.login}"></a></li>
                    <li sec:authorize="! isAuthenticated()" role="presentation"><a th:href="@{/cadastro}" th:text="#{menu.cadastrar}"></a></li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/perfil}" sec:authentication="principal.fullName"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/trabalho/criar_trabalho}" th:text="#{menu.publicar_trabalho}"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/profile} + '#bids'" th:text="#{menu.minhas_propostas}"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/bid/my-contracts}" th:text="#{menu.meus_contratos}"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/job?filter=myjobs}" th:text="#{menu.meus_trabalhos}">My jobs</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/message}" th:text="#{menu.mensagens}">Messages</a>
                    </li>
                    
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}" th:text="#{menu.logout}">Log out</a>
                    </li>
                    
                    <li><a href="?locale=eng_US">En</a></li>
                    <li><a href="?locale=pt_BR">Pt</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    </section>