<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="components/head(titulo=#{inicio.titulo_pagina})">
</head>
<div th:include="components/head"></div>
<body>

    <div th:include="components/menu"></div>

    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <h1 th:text="#{inicio.header}"></h1>
                <p th:utext="#{inicio.intro_1('/trabalho')}"></p>

                <p th:utext="#{inicio.intro_2('/trabalho/criar')}"></p>
            </div>
        </div>
    </div>

</body>
</html>