<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="components/head(titulo=#{registro.pagina_titulo})"></head>
<body>


<div th:replace="components/menu"></div>
<div class="container main-container">
    <div class="row">
        <div class="col-md-8">
            <h1 th:text="#{registro.pagina_titulo}"></h1>
            <p th:if="${error}" class="error"><div class="alert alert-danger" th:utext="${error}"></div></p>

            <form th:action="@{/cadastro}" method="post">
                <div class="form-group">
                    <label for="nome" th:text="#{registro.nome}"></label>
                    <input type="text" id="nome" name="nome" autofocus="autofocus" required="required" class="form-control" th:value="${usuario?.nome}" />
                </div>
                <div class="form-group">
                    <label for="email" th:text="#{login.email}"></label>
                    <input type="text" id="email" name="email" required="required" class="form-control" th:value="${usuario?.email}" /> <br />
                </div>
                <div class="form-group">
                    <label for="senha" th:text="#{login.senha}"></label>
                    <input type="password" id="senha" name="senha" required="required" class="form-control" th:value="${usuario?.senha}" /> <br />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" th:text="#{registro.btn}"></button>
                </div>
                <p th:utext="#{registro.ja_registrado('/login')}"></p>
            </form>
        </div>
    </div>
</div>


</body>
</html>