<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="components/head(titulo=${usuario.nome})"></head>
<body>
<div th:replace="components/menu"></div>


<div class="container main-container">   
    <div class="row" th:if="${editavel}" id="propostas">
        <div class="col-md-8">
            <h1 th:text="#{menu.minhas_propostas}">My Bids</h1>
            
            <p th:each="proposta : ${minhasPropostas}">
                <a th:href="@{'/trabalho/ver/' + ${proposta.trabalho.id}}" th:text="${proposta.trabalho.titulo}"></a>
            </p>
            
            <p th:if="${minhasPropostas == null}" th:text="#{proposta.sem_proposta}"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            
            <h1 th:text="#{trabalho_historico}">Job history</h1>
            
            <div th:each="feedback : ${meus_feedbacks}">
                


                <p>
	                <a th:href="@{'/trabalho/ver/' + ${feedback.proposta.trabalho.id}}" th:text="${feedback.proposta.trabalho.titulo}"></a>
                </p>

                <i class="glyphicon glyphicon-star"></i>
                <i th:if="${feedback.contratanteAvaliacao &gt; 1}" class="glyphicon glyphicon-star"></i>
                <i th:if="${feedback.contratanteAvaliacao &gt; 2}" class="glyphicon glyphicon-star"></i>
                <i th:if="${feedback.contratanteAvaliacao &gt; 3}" class="glyphicon glyphicon-star"></i>
                <i th:if="${feedback.contratanteAvaliacao &gt; 4}" class="glyphicon glyphicon-star"></i>
                <p>
	                <span th:text="${feedback.contratanteFeedback}"></span>
                </p>
                <hr />
            </div>
            <p th:if="${meus_feedbacks == null}" th:text="#{proposta.sem_feedback}"/>
        </div>
    </div>
    
</div>


</body>
</html>