<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="components/head(title=#{trabalho.criar.titulo})">
</head>
<div th:include="components/head"></div>
<body>
    <div th:replace="components/menu"></div>
    <div class="container main-container">
    <div class="row">
        <div class="col-md-8">

            <h1 th:text="#{trabalho.criar.titulo}"></h1>

            <div class="alert alert-danger" th:if="${error}" th:utext="${error}"></div>

            <form method="POST" th:action="@{/trabalho/salvar}">

                <div class="form-group">
                    <label th:text="#{categoria}"></label>
                    <select name="categoria" class="form-control">
                        <option th:each="c: ${categorias}" th:text="${c.nome}" th:value="${c.id}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label th:text="#{titulo}"></label>
                    <input type="text" name="titulo" class="form-control" />
                </div>

                <div class="form-group">
                     <label th:text="#{descricao}"></label>
                    <textarea name="descricao" class="form-control" rows="10"></textarea>
                </div>

                <div class="form-group">
                     <label th:text="#{orcamento}"></label>
                    <input type="number" name="orcamento" class="form-control" />
                </div>

                <div class="form-group">
                    <label th:text="#{trabalho_tipo}"></label>
                    <select name="tipo" class="form-control">
                        <option value="FIXO" th:text="#{opcao.fixo}"></option>
                        <option value="HORA" th:text="#{opcao.hora}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label th:text="#{experiencia}"></label>
                    <select name="experiencia" class="form-control">
                        <option value="iniciante" th:text="#{opcao.experiencia.iniciante}"></option>
                        <option value="intermediario" th:text="#{opcao.experiencia.intermediario}"></option>
                        <option value="experiente" th:text="#{opcao.experiencia.experiente}"></option>
                        
                    </select>
                </div>

                <p>
                    <input  type="submit" class="btn btn-primary" />
                </p>
            </form>
        </div>
    </div>
</div>

</body>
</html>