<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:include="components/head(title=${trabalho.titulo})">
</head>
<div th:include="components/head"></div>
<body>
<div th:replace="components/menu"></div>
<div class="container main-container">
    <div class="row">
        <div class="col-md-8">
            <h1 th:text="${trabalho.titulo}"></h1>
            <p><span class="badge" th:text="${trabalho.categoria.nome}"></span></p>
            <p>
                <i class="glyphicon glyphicon-time"></i>
                <span th:text="${trabalho.data_criacao}"></span>
                /
                <i class="glyphicon glyphicon-usd"></i>
                <span sec:authorize="isAuthenticated()">
                    <span th:if="${trabalho.orcamento != null}" th:text="${#numbers.formatDecimal(trabalho.orcamento, 0, 'POINT', 2, 'COMMA')}"></span>
                    (<span th:text="${trabalho.tipo}"></span>)
                </span>
                <span sec:authorize=" !isAuthenticated()">
                    (hidden)
                </span>
                /
                <span th:text="#{experiencia}">Expertize level</span>:
                <span th:text="${trabalho.experiencia}"></span>
            </p>
            <div class="job-details-description" th:utext="${trabalho.descricao}"></div>

            <hr />

            <div sec:authorize="isAuthenticated()">

                <div class="minhaProposta" th:if="${minhaProposta != null}">
                    <h2 th:text="#{trabalho.ver.minha_proposta}">My bid</h2>
                    <p>
                        <i class="glyphicon glyphicon-time"></i>  <span th:text="${minhaProposta.dataCriacao}"></span><br />
                        <i class="glyphicon glyphicon-usd"></i>  <span th:text="${#numbers.formatDecimal(minhaProposta.preco, 0, 'POINT', 2, 'COMMA')}"></span><br />
                        <span th:text="#{trabalho.ver.prazo}">Deadline</span>: <span th:text="${minhaProposta.prazo}"></span><br />
                    </p>
                    <div th:utext="${minhaProposta.proposta_texto}" class="job-details-description"></div>
                </div>


                <div  th:if="${minhaProposta == null}">
                    <p th:if="${trabalho.autor.id != eu.id}">
                    	<a href="javascript: $('#proposta-form').slideDown();" class="btn btn-success" th:text="#{trabalho.ver.proposta}">
                    		Bid
                    	</a>
                    </p>
                    <p th:if="${trabalho.autor.id == eu.id}">
                    	<a th:href="@{'/trabalho/propostas/' + ${trabalho.id}}" class="btn btn-success" th:text="#{trabalho.ver.ver_propostas}">
                    		View bids
                    	</a>
                    </p>
                    <form th:action="@{/proposta/salvar}" method="post" style="display: none;" id="proposta-form">

                        <input type="hidden" name="trabalho_id" th:value="${trabalho.id}" />

                        <div class="form-group">
                            <label for="preco" th:text="#{preco}">Price</label>
                            <input type="number" id="preco" name="preco" required="required" class="form-control" />
                        </div>
                        
                        <div class="form-group">
                            <label for="prazo" th:text="#{trabalho.ver.proposta_formulario.prazo}">Deadline / durration (optional)</label>
                            <input type="text" id="prazo" name="prazo" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="proposta_texto" th:text="#{trabalho.ver.proposta_formulario.proposta_texto}">Proposal</label>
                            <textarea id="proposta_texto" name="proposta_texto" class="form-control" required="required" rows="15"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg"  th:text="#{enviar}">
                                Place a bid
                            </button>
                        </div>
                    </form>

                    <script type="text/javascript">
                            $("#proposta-form").on("submit", function(event){
                              
                                if(!confirm("Tem certeza que deseja efetuar o envio?")){
                                    return false;
                                }

                               
                                return true;
                            });
                    </script>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <h3><a th:href="@{'/perfil/cliente/' + ${trabalho.autor.id} }" th:text="${trabalho.autor.nome}"></a></h3>
            <div sec:authorize="isAuthenticated()">
                <p th:if="${trabalho.autor.perfil != null}">
                    <i class="glyphicon glyphicon-map-marker"> </i> <span th:text="${trabalho.autor.perfil.localizacao}"></span> <br />
                    <i th:if="${avgClienteFeedback &gt; 0}" class="glyphicon glyphicon-star"></i>
                    <i th:if="${avgClienteFeedback &gt; 1}" class="glyphicon glyphicon-star"></i>
                    <i th:if="${avgClienteFeedback &gt; 2}" class="glyphicon glyphicon-star"></i>
                    <i th:if="${avgClienteFeedback &gt; 3}" class="glyphicon glyphicon-star"></i>
                    <i th:if="${avgClienteFeedback &gt; 4}" class="glyphicon glyphicon-star"></i>
                    <span th:text="${avgClienteFeedback}"></span> / 5 
                    (<span th:text="#{revisoes_no}">reviews</span>: <span th:text="${feedbacks_no}"></span> )
                    <br />
                    <span th:text="#{taxa_contratacao}">Hire rate</span>: <span th:text="${taxa_contratacao}"></span>% 
                    ( <span th:text="${trabalho_contratado_no}"></span> / <span th:text="${trabalhos_no}"></span> )
                    <hr />
                    <h3 th:text="#{trabalho_estatistica}">Job stats</h3>
                    <span th:text="#{propostas}">Bids</span>: <span th:text="${propostas_no}"></span><br />
                    <!-- Inverviewing: 4 (?) -->
                    <hr />
                </p>
            </div>
            <div sec:authorize=" !isAuthenticated()" th:utext="#{trabalho.ver.efetuar_login}">
                Login to see client details
            </div>

        </div>
    </div>
</div>
</body>
</html>

